* {
  padding: 0;
  margin: 0;
  word-break: keep-all;
  overflow-wrap: break-word;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.links{
  text-decoration: none;
}
.homediv{
  display: flex;
  flex-direction: column;

}
.headerdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  }
  header{
  }
  @media only screen and (max-width: 425px) {
    .headerdiv{
      display: block;
      margin:0 auto;
      width: 425px;
    }
    header{
      width: 425px;
    }
  }
  @media only screen and (max-width: 970px) {
    .headerdivs{
      display: flex;
    width: 768px;
    flex-direction: column;
    }
  }
  .headerbox{
    display: flex;
    align-items: center;
    margin-top: 1.5%;
    margin-left: -70%;
  }
  @media only screen and (max-width: 970px) {
    .headerbox{
      display: flex;
      align-items: center;
      margin-top: 0px;
      margin-left: 10%;
    }
  }
  @media only screen and (max-width: 425px) {
    .headerbox{
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-left: 0px;
    }
  }
  @media (min-width: 0px) and (max-width: 360px)  {
    .headerbox{
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-left: 0px;
    }
  }
  .title{
    display: flex;
    font-size: 37px;
    font-weight: 600;
    color: #0060F1;
    margin: 0px
  }
  @media only screen and (max-width: 970px) {
    .title{
      display: flex;
      font-size: 37px;
      font-weight: 600;
      color: #0060F1;
      margin: 0px
    }
  }
  @media only screen and (max-width: 425px) {
    .title{
      display: flex;
      font-size: 30px;
      font-weight: 600;
      color: #0060F1;
      margin-left: 15px;
    }
  }
  .login{
    display: inline-block;
    flex-grow: 1;
    font-size: 17px;
    color: #707070;
    margin-right: -40%;
  }
  @media only screen and (max-width: 970px) {
    .login{
      display: inline-block;
      flex-grow: 1;
      font-size: 17px;
      color: #707070;
      margin-right: 0%;
    }
  }
  @media only screen and (max-width: 425px) {
    .login{
      display: inline-block;
      flex-grow: 0;
      font-size: 17px;
      color: #707070;
      margin-right: 100px;
    }
  }
  .loginBox{
    float: right;
    margin-left: 10px;
  }
  @media only screen and (max-width: 970px) {
    .loginBox{
      margin-left: 0px;
    }
  }
  @media only screen and (max-width: 425px) {
    .loginBox{
      margin-left: 10px;
    }
  }
  .headerMenu{
    display: flex;
    position: relative;
    margin-left: -80%;
    height: 40px;
  }
  @media only screen and (max-width: 970px) {
    .headerMenu{
      display: flex;
      position: relative;
      margin-right: 0%;
      margin-left: 0%;
      height: 40px;
    }
  }
  @media only screen and (max-width: 425px) {
    .headerMenu{
      display: flex;
      position: relative;
      margin-left: 0px;
      height: 40px;
    }
  }
  #headerMenuBox{
    margin-top: 10px;
    margin-left: 50px;
    font-size: 25px;
    font-weight: 600;
  }
  @media only screen and (max-width: 425px) {
    #headerMenuBox{
      margin-top: 10px;
      margin-left: 20px;
      font-size: 25px;
      font-weight: 600;
    }
  }
  .searchBox{
    flex-grow: 1;
  }
  #headerMenuSearchBox{
    align-items: center;
    float: right;
    height: 26px;
    width: 200px;
    margin-top: 10px;
    margin-right: 135px;
    border-radius: 30px;
    background-color: #D9D9D9;
  }
  
  .footer{
    display: block;
    background-color: #707070;
    width: 15000px;
      height: 50px;
    top:auto;
      bottom: 0px;
    margin:0 auto;
    position: fixed;
  }
  #footerFont{
    display: flex;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 200px;
    color:aliceblue
  }
  .body{
    display: inline-flex;
    height: 280px;
  }
  @media only screen and (max-width: 970px) {
    .body{
      display: inline-flex;
      height: 260px;
      margin-left: 3%;
    }
  }
  @media only screen and (max-width: 425px) {
    .body{
      display: inline-flex;
      height: 155px;
    }
  }
  .benner{
    height: 300px;
    width: 960px;
    margin-top: 10px;
    background-color:#D9D9D9;
    border-radius: 20px;
  }
  @media only screen and (max-width: 970px) {
    .benner{
      height: 240px;
      width: 750px;
      margin-top: 10px;
      margin-left: 3%;
      margin-bottom: 10px;
      background-color:#D9D9D9;
    }
  }
  @media only screen and (max-width: 425px) {
    .benner{
      height: 140px;
      width: 340px;
      margin-top: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      background-color:#D9D9D9;
    }
  }
  .MainContentBox{
    height: 350px;
    width: auto;
    margin-top: 10px;
    background-color:#D9D9D9;
  }
  .subTitle{
    margin-left: 28px;
  }
  @media only screen and (max-width: 970px) {
    .subTitle{
      margin-left: 10%;
    }
  }
  @media only screen and (max-width: 425px) {
    .subTitle{
      margin-left: 5px;
      height: 100px;
    }
  }
  .subTitleFont{
    display: block;
    margin-left: 20%;
    font-size: 30px;
    font-weight: 600;
  }
  @media only screen and (max-width: 425px) {
    .subTitleFont{
      display: block;
      margin: 0px 0px 0px 0px;
      font-size: 25px;
      font-weight: 600;
    }
  }
  .subTitleFont1{
    display: inline-block;
    margin:80px 0px 0px 130px;
    font-size: 30px;
    font-weight: 600;
  }
  .subTitleIcon{
    display: block;
    position: relative;
    height: 40px;
    width: 40px;
    margin-left: 10%;
  }
  @media only screen and (max-width: 425px) {
    .subTitleIcon{
      display: block;
      position: relative;
      height: 27px;
      width: 30px;
      margin:0px 0px 0px 10px;
    }
  }
  .subtitleBox{
    display: flex;
    align-items: center;
    margin-top:10px;
    /* margin-left: 5%; */
  }
  @media only screen and (max-width: 970px) {
    .subtitleBox{
      display: flex;
      align-items: center;
      margin-top:10px;
      margin-left: 3%;
    }
  }
  @media only screen and (max-width: 425px) {
    .subtitleBox{
      display: flex;
      align-items: center;
      margin-left: 20px;
    }
  }
  .productCard{
    display: block;
    box-sizing: border-box;
    width: 245px;
    height: 250px;
    margin-top: 3%;
    margin-left: 5%;
    background-color: #ffffff;
    border: 1px solid #969696;
    border-radius: 10px;
  }
  @media only screen and (max-width: 970px) {
    .productCard{
      display: block;
      box-sizing: border-box;
      width: 200px;
      height: 250px;
      margin-top: 3%;
      margin-left: 0%;
      background-color: #ffffff;
      border: 1px solid #969696;
      border-radius: 10px;
    }
  }
  @media only screen and (max-width: 425px) {
    .productCard{
      width: 106px;
      height: 140px;
      margin-top: 8px;
      border: 1px solid #969696;
      padding: 1px;
      border-radius: 10px;
    }
  }
  .productHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
    flex-grow: 1;
  }
  @media only screen and (max-width: 425px) {
    .productHeader{
      display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
    margin-left: 0px;
    }
  }
  .productImg{
    display: inline-block;
    border-radius: 50px;
    margin-left: 10px;
  }
  @media only screen and (max-width: 425px) {
    .productImg{
      display: inline-block;
      border-radius: 50px;
      margin-left: 10px;
      height: 35px;
      width: 35px;;
    }
  }
  .productTitle{
    margin-right: 10px;
    font-size: 28px;
    font-weight: 700;
  }
  @media only screen and (max-width: 425px) {
    .productTitle{
      display: flex;
      margin-right: 10px;
      font-size: 12px;
      font-weight: 700;
    }
  }
  .productSub{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin-top: 17px;
    margin-right: 22px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  @media only screen and (max-width: 425px) {
    .productSub{
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      margin-top: 3px;
      margin-right: 3px;
      margin-bottom: 3px;
      margin-left: 3px;
    }
  }
  .productSubTitle{
    margin-left: 9px;
    font-weight: 400;
    color: #585858;
  }
  @media only screen and (max-width: 425px) {
    .productSubTitle{
      margin-left: 1px;
      font-size: 8px;
      color: #000;
    }
  }
  .productSubTitle1{
    color: #585858;
  }
  @media only screen and (max-width: 425px) {
    .productSubTitle1{
      display: none;
      font-size: 12px;
      color: #585858;
    }
  }
  .productSubMain{
    overflow: hidden;
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-right: 16px;
    margin-bottom: 10px;
    height: 39px;
    margin-left: 17px;
    color: #585858;
  }
  @media only screen and (max-width: 425px) {
    .productSubMain{
      overflow: hidden;
      text-overflow: ellipsis; 
      display: -webkit-box; 
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-right: 1px;
      margin-bottom: 0px;
      font-size: 12px;
      height: 30px;
      margin-left: 5px;
      color: #585858;
    }
  }
  .productSubMainSub{
    margin-left: 20px;
    font-size: 13px;
    color:#969696
  }
  @media only screen and (max-width: 425px) {
    .productSubMainSub{
      margin-left: 18px;
      font-size: 9px;
      color:#969696
    }
  }
  .productMainBox{
    display: flex;
    font-size: 18px;

    margin-bottom: 10px;
    margin-left: 10px;
  }
  @media only screen and (max-width: 425px) {
    .productMainBox{
      display: flex;
      font-size: 18px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  }
  .productMain{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
  }
  .productMainNum{
    font-size: 60px;
    font-weight: 700;
    margin-left: 10px;
    color: #0060F1;
  }
  @media only screen and (max-width: 425px) {
    .productMainNum{
      font-size: 27px;
      font-weight: 600;
      margin-left: 8px;
      color: #0060F1;
    }
  }
  .productMainNumper{
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
    color: #0060F1;
  }
  @media only screen and (max-width: 425px) {
    .productMainNumper{
      font-size: 13px;
      height: 10px;
      font-weight: 600;
      margin-top: 13px;
      margin-left: 1px;
      color: #0060F1;
    }
  }
  .productEx{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-left: 10px;
    align-items: center;
    padding-bottom: 10px;
  }
  @media only screen and (max-width: 970px) {
    .productEx{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      margin-top: 16px;
      margin-left: 10px;
      font-size: 13px;
      align-items: center;
      padding-bottom: 10px;
    }
  }
  @media only screen and (max-width: 425px) {
    .productEx{
      display: flex;
      font-size: 10px;
      flex-direction: column;
      margin-top: 0px;
      margin-left: 0px;
      align-items: center;
      padding-bottom: 0px;
    }
  }
  .productExNum{
    color: #BAB9B9;
  }
  .productExM{
    margin-top: 3px;
    font-size: 15px;
    color: #BAB9B9;
  }
  
  @media only screen and (max-width: 425px) {
    .productExM{
      margin-top: 0px;
      font-size: 10px;
      color: #BAB9B9;
    }
  }
  .card{
    margin-left: 10%;
    display: flex;
  }
  @media only screen and (max-width: 425px) {
    .card{
      margin-left: 0px;
      display: flex;
    }
  }
  .loginbody{
    display: flex;
    justify-content: center;
  }
  .loginBenner{
    height: 600px;
    width: 450px;
    margin: 30px 120px 0px 0px;
    background-color: #969696;
  }
  .loginBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .loginContentBox{
    display: block;
    margin-left: 20px;
  }
  #loginTitle{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 55px;
    font-weight: 700;
    color: #0060F1;
  }
  .loginInputBox{
    display: block;
    align-items: center;
  }
  input{
    display: flex;
    height: 50px;
    width: 400px;
    margin-top: 20px;
    font-size: 25px;
  }
  #loginButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 408px;
    margin-top: 20px;
    font-size: 1.8em;
    font-weight: 600;
    background-color:#0060F1;
    color: #ffffff;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
  }
  .loginOption{
    display: flex;
    width: 408px;
    justify-content: space-around;
  }
  span{
    margin-top: 20px;
    font-size: 20px;
    color: #969696;
  }
  .signinbox{
    display: flex;
    justify-content: center;
  }
  .signinFont{
    display: block;
    align-items: center;
    position: absolute;
    font-size: 60px;
    font-weight: 700;
    margin-top: 50px;
    color:#0060F1
  }
  .signinDiv{
    display: block;
    align-items: center;
    margin-top: 130px;
    margin-right: 50px;
  }
  .signinForm > div{
    display: flex;
  }
  .inputId{
    display: flex;
    justify-content: space-between;
  } 
  .inputId > p{
      font-size: 25px;
      font-weight: 600;
      color: #707070; 
  }
  .inputId > input{
    height: 40px;
    width: 350px;
    border-radius: 5px #707070;
  }
  .inputEmail{
    display: flex;
    justify-content: space-between;
  } 
  .inputEmail > p {
      font-size: 25px;
      font-weight: 600;
      color: #707070; 
  }
  .inputEmail > input{
    height: 40px;
    width: 350px;
    border-radius: 5px #707070;
  }
  .inputPw{
    display: flex;
    justify-content: space-between;
  } 
  .inputPw > p{
      font-size: 25px;
      font-weight: 600;
      color: #707070; 
      float: left;
  }
  .inputPw > input{
    height: 40px;
    width: 350px;
    border-radius: 5px #707070;
  }
  .inputPwc{
    display: flex;
    justify-content: space-between;
  } 
  .inputPwc > p{
      font-size: 25px;
      font-weight: 600;
      color: #707070; 
  }
  .inputPwc > input{
    height: 40px;
    width: 350px;
    margin-left: 10px;
    border-radius: 5px #707070;
  }
  .IN{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .IN > p{
    font-size: 20px;
    font-weight: 600;
    color:#707070
  }
  .IN > button{
    height: 20px;
    width: 20px;
  }
  .signinButton{
    height: 60px;
    width: 350px;
    margin-left: 140px;
    background-color: #0060F1;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    border: rgba(0, 0, 0, 0);
    border-radius: 5px;
  }
  .depositBody{
    display: flex;
    height: 280px;
    margin-left: 10%;
  }
  @media only screen and (max-width: 425px) {
    .depositBody{
      display: flex;
      height: 170px;
      margin-left: 10%;
    }
  }
  .expalnebox{
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 980px;
    margin-top: 20px;
    margin-left: 5%;
    border-radius: 20px;
    background-color: #2649FF;
  }
  @media only screen and (max-width: 970px) {
    .expalnebox{
      display: flex;
      flex-direction: column;
      overflow: hidden;
    text-overflow: ellipsis;
      -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
      height: 190px;
      width: 750px;
      margin-top: 20px;
      margin-left: 5%;
      border-radius: 20px;
      background-color: #2649FF;
    }
  }
  @media only screen and (max-width: 425px) {
    .expalnebox{
      height: 70%;
      width: 300px;
      margin-top: 20px;
      margin-left: 7px;
      border-radius: 20px;
      background-color: #2649FF;
    }
  }
  #explaneTitle{
    display: inline-flex;
    font-size: 50px;
    font-weight: 600;
    margin: 30px 0px 0px 40px;
    color: #FFE500;
  }
  @media only screen and (max-width: 425px) {
    #explaneTitle{
      display: inline-flex;
      font-size: 50px;
      font-weight: 600;
      margin: 15px 0px 0px 20px;
      color: #FFE500;
    }
  }
  #explaneContent{
    display: inline-flex;
    width: 850px;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
    margin: 15px 0px 0px 40px;
    color: #FFFFFF;
  }
  @media only screen and (max-width: 970px) {
    #explaneContent{
      display:-webkit-box;
      width: 650px;
      overflow: hidden;
    text-overflow: ellipsis;
      -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
      font-size: 25px;
      font-weight: 400;
      line-height: 33px;
      margin: 15px 0px 0px 40px;
      color: #FFFFFF;
    }
  }
  @media only screen and (max-width: 425px) {
    #explaneContent{
      display: inline-flex;
      width: auto;
      font-size: 20px;
      font-weight: 500;
      line-height: 25px;
      margin: 0px 0px 10px 20px;
      color: #FFFFFF;
    }
  }
  
  
  .dayDepositBox{
    display: flex;
    align-items: center;
    width: auto;
    margin: 1% 0px 1% 7%;
    font-size: 33px;
    font-weight: 600;
    
  }
  .cardSub{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }
  .explanbody{
    display: flex;
  }
  .explaneSubTitle{
    height: 280px;
    margin-left: 10%;
  }
  @media only screen and (max-width: 425px) {
    .explaneSubTitle{
      height: 280px;
      margin-left: 0px;
    }
  }
  .depositBoxss{
    display: flex;
    margin-left:1%;
  }
  .depositBox1{
    display: flex;
    text-decoration: none;
    margin-right: 6%;
  }
  @media only screen and (max-width: 425px) {
    .depositBox1{
      display: flex;
      text-decoration: none;
      margin-right: 5%;
    }
  }
  .depositBox2{
    display: flex;
    
  }
  #deosit{
    text-decoration: none;
  }
  .depositdetailbox{
    display: flex;
    margin: 3% 0% 0% 7%;
  }
  @media only screen and (max-width: 970px) {
    .depositdetailbox{
      display: flex;
      flex-direction: column;
      margin: 1% 0% 0% 7%;
    }
  }
  @media only screen and (max-width: 425px) {
    .depositdetailbox{
      display: flex;
      flex-direction: column;
      margin: 1% 0% 0% 7%;
    }
  }
  .depositdetailboxS{
      display: flex;
      width: 650px;
      height: 130px;
      padding:10px;
      border: solid 1px #969696;
      border-radius: 10px;
  }
  @media only screen and (max-width: 425px) {
    .depositdetailboxS{
      display: flex;
      width: 290px;
      height: 100px;
      padding: 0px;
      border: solid 1px #969696;
      border-radius: 10px;
  }
  }
  
  .depositdetailboxS1{
      margin-left: 20px;
      width: 115px;
  }
  @media only screen and (max-width: 425px) {
    .depositdetailboxS1{
      margin-left: 20px;
      width: 50px;
  }
  }
  .ddbs2{
      display: flex;
      margin-left: -10px;
  }
  @media only screen and (max-width: 425px) {
    .ddbs2{
      display: flex;
      margin-left: -10px;
      align-items: baseline;
  }
  }
  .ddInfTitle{
      color:#969696;
      font-size: 10px;
      margin-left: 17px;
  }
  .ddInfNum{
      color: #3152FF;
      font-size: 55px;
      font-weight: 700;
  }
  @media only screen and (max-width: 425px) {
    .ddInfNum{
      color: #3152FF;
      font-size: 35px;
      font-weight: 700;
  }
  }
  .ddInfper{
      color: #3152FF;
      font-size: 20px;
      font-weight: 400;
      margin: 29px 0px 0px 5px
  }
  @media only screen and (max-width: 425px) {
    .ddInfper{
      color: #3152FF;
      font-size: 17px;
      font-weight: 700;
      margin: 0px 0px 0px 5px
  }
  }
  .depositdetailcontent{
      display: flex;
      flex-direction: column;
      margin: 0px 0px 0px 26px
  }
  @media only screen and (max-width: 425px) {
    .depositdetailcontent{
      display: flex;
      height: 80px;
      flex-direction: column;
      margin: 0px 0px 0px 15px
  }
  }
  .ddcontentbuttonB{
      display: flex;
      margin-bottom: 10px;
  }
  .ddI{
      border-radius: 60px;
  }
  @media only screen and (max-width: 425px) {
    .ddI{
      margin-top: 20px;
      border-radius: 60px;
      height: 40px;
      width: 40px;
  }
  }
  .ddcontentTag{
      height: 24px;
      text-align: center;
      font-size: 15px;
      font-weight: 400;
      border-color: rgba(0, 0, 0, 0);
      border-radius: 10px;
      background-color: #0060F1;
      color:#ffffff;
  }
  .ddcontentTag1{
      height: 24px;
      text-align: center;
      margin-left: 10px;
      font-size: 15px;
      font-weight: 400;
      border-color: rgba(0, 0, 0, 0);
      border-radius: 10px;
      background-color: #0060F1;
      color:#ffffff;
  }
  @media only screen and (max-width: 425px) {
    .ddcontentTag1{
      height: 24px;
      text-align: center;
      margin-left: 10px;
      font-size: 15px;
      font-weight: 400;
      border-color: rgba(0, 0, 0, 0);
      border-radius: 10px;
      background-color: #0060F1;
      color:#ffffff;
  }
  }
  @media only screen and (max-width: 425px) {
    .ddcontentTag1{
      height: 24px;
      text-align: center;
      margin-left: 10px;
      font-size: 15px;
      font-weight: 400;
      border-color: rgba(0, 0, 0, 0);
      border-radius: 10px;
      background-color: #0060F1;
      color:#ffffff;
  }
  }
  .ddcontentTitle{
      font-size: 30px;
      font-weight: 600;
  }
  @media only screen and (max-width: 425px) {
    .ddcontentTitle{
      font-size: 20px;
      font-weight: 600;
  }
  }
  .ddcontentC{
      margin-top: 5px;
      font-size: 20px;
      color: #585858;
      overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  @media only screen and (max-width: 425px) {
    .ddcontentC{
      margin-top: 5px;
      font-size: 18px;
      color: #585858;
      width: 230px;
      overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  }
  .ddcontentInfbox{
      display: flex;
      color: #BAB9B9;
      margin: 0px 0px 0px 350px;
      font-size: 16px;
  }
  @media only screen and (max-width: 425px) {
    .ddcontentInfbox{
      display: flex;
      color: #BAB9B9;
      display: none;
      margin: 0px 0px 0px 35px;
      font-size: 16px;
  }
  }
  .ddcontentInfboxSub{
    font-size: 15px;
  }
  
  .depositdetailbuttonbox{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 50px;
  }
  @media only screen and (max-width: 970px) {
    .depositdetailbuttonbox{
      display: flex;
      flex-direction: row;
      margin-left: 0px;
      justify-content: flex-start;
  }
  }
  @media only screen and (max-width: 425px) {
    .depositdetailbuttonbox{
      display: flex;
      flex-direction: row;
      margin-left: 0px;
      justify-content: flex-start;
  }
  }
  #depositdetailbuttonboxLink{
      height: 41px;
      width: 158px;
      font-size: 22px;
      font-weight: 600;
      text-decoration: none;
      border-color: rgba(0, 0, 0, 0);
      border-radius: 5px;
      background-color: #2649FF;
      color:#ffffff;
  }
  @media only screen and (max-width: 970px) {
    #depositdetailbuttonboxLink{
      height: 34px;
      width: 138px;
      font-size: 23px;
      font-weight: 600;
      margin-top: 5px;
      margin-left: 140px;
      text-decoration: none;
      border-color: rgba(0, 0, 0, 0);
      border-radius: 5px;
      background-color: #2649FF;
      color:#ffffff;
  }
  }
  @media only screen and (max-width: 425px) {
    #depositdetailbuttonboxLink{
      height: 20px;
      width: 80px;
      font-size: 14px;
      font-weight: 600;
      margin-top: 5px;
      margin-left: 40px;
      text-decoration: none;
      border-color: rgba(0, 0, 0, 0);
      border-radius: 5px;
      background-color: #2649FF;
      color:#ffffff;
  }
  }
  .deposit3dbox{
      width: 950px;
      margin: 3% 0px 0px 4%;
      border: solid 1px #969696;
      border-radius: 15px;
  }
  @media only screen and (max-width: 970px) {
    .deposit3dbox{
      width: 710px;
      margin: 3% 0px 0px 5%;
      border: solid 1px #969696;
      border-radius: 15px;
  }
  }
  @media only screen and (max-width: 425px) {
    .deposit3dbox{
      width: 292px;
      margin: 3% 0px 0px 2%;
      border: solid 1px #969696;
      border-radius: 15px;
  }
  }
  .deposit3dImgbox{
      display: flex;
  }
  
  .deposit3dimg{
      margin: 40px 0px 0px 30px;
      border-radius: 100px;
  }
  @media only screen and (max-width: 970px) {
    .deposit3dimg{
      border-radius: 100px;
      width: 100px;
      height: 100px;
      margin: 60px 0px 0px 0px;
  }
  }
  @media only screen and (max-width: 425px) {
    .deposit3dimg{
      border-radius: 100px;
      width: 80px;
      height: 80px;
      margin: 10px 0px 0px 0px;
  }
  }
  .deposit3dBox1{
      display: flex;
      margin: 0px 0px 0px 40px;
  }
  @media only screen and (max-width: 425px) {
    .deposit3dBox1{
      display: flex;
      margin: 0px 0px 0px 10px;
  }
  }
  .deposit3dBox2{
      display: flex;
      flex-direction: column;
      margin: 30px 0px 0px 70px;
  }
  @media only screen and (max-width: 425px) {
    .deposit3dBox2{
      display: flex;
      flex-direction: column;
      margin: 10px 0px 0px 10px;
  }
  }
  .d3d{
      display: flex;
  }
  .deposit3dButton{
      display: block;
      height: 40px;
      font-size: 22px;
      font-weight: 500;
      color: #FFFFFF;
      background-color: #2649FF;
      border-radius: 10px;
      border: solid 1px rgba(0, 0, 0, 0);
  }
  @media only screen and (max-width: 425px) {
    .deposit3dButton{
      display: block;
      height: 30px;
      width: auto;
      font-size: 15px;
      font-weight: 500;
      margin-top: 20px;
      color: #FFFFFF;
      background-color: #2649FF;
      border-radius: 5px;
      border: solid 1px rgba(0, 0, 0, 0);
  }
  }
  .deposit3dButton1{
      display: block;
      height: 40px;
      margin-left: 30px;
      font-size: 22px;
      font-weight: 500;
      color: #FFFFFF;
      background-color: #2649FF;
      border-radius: 10px;
      border: solid 1px rgba(0, 0, 0, 0);
  }
  @media only screen and (max-width: 425px) {
    .deposit3dButton1{
      display: block;
      height: 30px;
      margin-top: 20px;
      margin-left: 10px;
      font-size: 15px;
      font-weight: 500;
      color: #FFFFFF;
      background-color: #2649FF;
      border-radius: 5px;
      border: solid 1px rgba(0, 0, 0, 0);
  }
  }

  .d3dB{
      display: flex;
      margin-top: 13px;
  }
  @media only screen and (max-width: 425px) {
    .d3dB{
      display: flex;
      margin-top: 10px;
      margin-left: -80px;
  }
  }
  .d3dBT{
      font-size: 45px;
      font-weight: 600;
      margin-top: 10px;
  }
  @media only screen and (max-width: 425px) {
    .d3dBT{
      font-size: 25px;
      font-weight: 700;
      margin-top: 30px;
  }
}
  .d3dBTd{
      display: flex;
      flex-direction: column;
      margin: 10px 0px 0px 10px
  }
  @media only screen and (max-width: 425px) {
    .d3dBTd{
      display: flex;
      flex-direction: column;
      margin: 10px 0px 0px 10px
  }
}
  .d3dBTdT{
      display: flex;
      margin-left: 45px;
      font-size: 65px;
      font-weight: 700;
      color: #2649FF;
  }
  @media only screen and (max-width: 425px) {
    .d3dBTdT{
      display: flex;
      margin-left: 20px;
      margin-top: 25px;
      font-size: 44px;
      font-weight: 700;
      color: #2649FF;
  }
}
  .d3dBTdT1{
      font-size: 10px;
  }
  @media only screen and (max-width: 425px) {
    .d3dBTdT1{
      font-size: 10px;
      margin-top: 10px;
  }
}
  .d3dBTdT2{
      font-size: 40px;
      font-weight: 500;
      color: #2649FF;
  }
  @media only screen and (max-width: 425px) {
    .d3dBTdT2{
      font-size: 30px;
      font-weight: 500;
      margin-top: 1px;
      color: #2649FF;
  }
}
  .d3dBTI{
      margin: 10px 0px 0px 0px;
      color: #969696;
  }
  @media only screen and (max-width: 425px) {
    .d3dBTI{
      margin: 30px 0px 0px 10px;
      color: #969696;
      font-size: 13px;
  }
}
  .d3dBTID{
      margin-left: 12px;
      font-size: 13px;
  }
  .d3dbD{
    margin-left: 0px;
      font-size: 20px;
      color: #585858;
  }
  @media only screen and (max-width: 970px) {
    .d3dbD{
      margin-left: 0px;
        font-size: 20px;
        color: #585858;
    }
}
@media only screen and (max-width: 425px) {
  .d3dbD{
    width: 300px;
    margin-left: -80px;
      font-size: 17px;
      color: #585858;
  }
}
  .deposit3dID{
      margin: 30px 0px 0px 30px;
  }
  @media only screen and (max-width: 970px) {
    .deposit3dID{
      margin: 5px 0px 0px 17px;
  }
}
  @media only screen and (max-width: 425px) {
    .deposit3dID{
      margin: 5px 0px 0px 17px;
  }
}
  .deposit3dIDT{
      font-size: 35px;
      font-weight: 400;
  }
  @media only screen and (max-width: 970px) {
    .deposit3dIDT{
      font-size: 30px;
      font-weight: 400;
  }
}
@media only screen and (max-width: 425px) {
  .deposit3dIDT{
    font-size: 20px;
    font-weight: 400;
}
}
  .deposit3dIDC{
      width: 730px;
      margin: 20px 0px 0px 70px;
      font-size: 30px;
      color: #585858;
  }
  @media only screen and (max-width: 970px) {
    .deposit3dIDC{
      margin: 1% 0% 0% 10%;
      width: 600px;
      font-size: 20px;
      color: #585858;
  }
}
  @media only screen and (max-width: 425px) {
    .deposit3dIDC{
      margin: 10px 0px 0px 17px;
      width: 240px;
      font-size: 12px;
      color: #585858;
  }
}
  .deposit3dII{
      width: 730px;
      margin: 20px 0px 0px 110px;
      font-size: 20px;
      color: #969696;
      letter-spacing: 1px;
      line-height:30px;
  }
  @media only screen and (max-width: 425px) {
  .deposit3dII{
    width: 280px;
    margin: 0px 0px 0px 20px;
    font-size: 10px;
    color: #969696;
    letter-spacing: 1px;
    line-height:20px;
}
}
  .deposit3DBB{
      display: flex;
      margin: 2% 0% 0% 83%;
  }
  @media only screen and (max-width: 970px) {
    .deposit3DBB{
      display: flex;
      margin: 2% 0% 0% 73%;
  }
  }
  @media only screen and (max-width: 425px) {
    .deposit3DBB{
      display: flex;
      margin: 2% 0% 0% 25%;
  }
  }
  .deposit3DB{
      display: block;
      height: 40px;
      width: 157px;
      font-size: 22px;
      font-weight: 600;
      color: #FFFFFF;
      background-color: #2649FF;
      border-radius: 10px;
      border: solid 1px rgba(0, 0, 0, 0);
  }
  .deposit3DB1{
      display: block;
      height: 40px;
      width: 157px;
      margin-left: 30px;
      font-size: 22px;
      font-weight: 600;
      color: #FFFFFF;
      background-color: #2649FF;
      border-radius: 10px;
      border: solid 1px rgba(0, 0, 0, 0);
  }
.shopListBoxBody{
  display: flex;
  margin: 20px 0px 0px 250px;
}
.shopListBox{
  display: flex;
  width: 800px;
  height: 90px;
  padding:10px;
  border: solid 1px #969696;
  border-radius: 10px;
}

.shopListTitle{
  margin: 40px 0px 0px 270px;
  font-size: 40px;
  font-weight: 650;
  color: #0060F1;
}
.shopListImg{
  border-radius: 60px;
  margin: 13px 0px 0px 20px;
}
.shopList{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.shopListTag{
  display: flex;
  margin: 10px 0px 0px 0px;
}
.shopListTagD{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
  width: 80px;
  margin-left: 0px;
  color: #FFFFFF;
  background-color: #2649FF;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0);
}
.shopListTagD1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
  width: 80px;
  margin-left: 10px;
  color: #FFFFFF;
  background-color: #2649FF;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0);
}
.shopListContent{
  display: flex;
  align-items: center;
}
.shopListContentTitle{
  font-size: 35px;
  font-weight: 600;
}
.shopListContentC{
  width: 290px;
  color: #707070;
}
.shopListContentNum{
  font-size: 50px;
  font-weight: 600;
  color: #2649FF;
}
.shopListContentExBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 5px 10px;
}
.shopListContentEx{
  font-size: 13px;
  color: #969696;
}
.shopListContentPer{
  font-size: 25px;
  font-weight: 600;
  color: #2649FF;
}
.shopListContentEx1{
  margin-left: 5px;
  font-size: 15px;
  color: #BAB9B9;
}
.shopListContentEx1Ex{
  margin-left: 5px;
  font-size: 13px;
  color: #BAB9B9;
}
.shopListButton{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 140px;
  float: right;
  margin: 25px 210px 0px 0px;
  font-size: 25px;
  font-weight: 500;
  background-color: #2649FF;
  color: #FFFFFF;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0);
}
.shopListButton:hover{
  background-color: #3687FF;
}
.mypageTitleBox{
  display: flex;
}
.mypageTitle{
  margin: 30px 0px 0px 180px;
  font-size: 60px;
  font-weight: 500;
  color: #0060F1;
}
.mypageSubTitle{
  display: inline-block;
  margin: 55px 0px 0px 300px;
  font-size: 40px;
  font-weight: 650;
  color: #0060F1;
}
.mypageContent{
  display: flex;
}
.mypageSideBar{
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 280px;
  margin: 10px 0px 0px 170px;
  border-radius: 10px;
  background-color: #3152FF;
}
.mypageSidebarC{
  font-size: 30px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 30px 0px 0px 30px;
}
#mypageIcon{
  margin: 0px 30px 0px 0px;
  color: #FFFFFF;
}
.mypageInput{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 0px 20px;
}
.mypageInput > input{
  height: 45px;
  width: 330px;
  border: double #585858;
  border-radius: 5px;
}
.mypageInputButton{
  height: 55px;
  width: 350px;
  margin: 30px 0px 0px 0px ;
  font-size: 30px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #0060F1;
  border: solid 0px;
  border-radius: 10px;
}
.mypageInputName{
  display: flex;
  flex-direction: column;
  text-align: end;
  height: 280px;
  width: 210px;
}
.mypageInputNameId{
  font-size: 25px;
  font-weight: 500;
  color: #707070;
  margin-top: 43px;
}
.mypageInputNameId1{
  font-size: 25px;
  font-weight: 500;
  color: #707070;
  margin-top: 40px;
}
.mypage{
  display: flex;
  width: 1280px;
}
.buyListBox{
  display: flex;
  flex-direction: column;
  width: 680px;
  height: auto;
  padding: 10px;
  border: solid 1px #969696;
  border-radius: 10px;
}
.buyListBoxBody{
  display: flex;
  margin: 20px 0px 0px 50px;
}
.buyListContentTitle{
  width: 90px;
  font-size: 21px;
  font-weight: 600;
}
.buyListTag{
  display: flex;
  margin: 0px 0px 0px 0px;
}
.buylistContentExBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 0px 0px;
}
.buyListContentEx{
  font-size: 13px;
  width: 35px;
  color: #969696;
}
.buyListContentPer{
  font-size: 25px;
  font-weight: 600;
  color: #2649FF;
}
.buyContentExBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 12px 0px;
}
.buyContentEx1{
  margin-left: 20px;
  font-size: 15px;
  color: #BAB9B9;
}
.buyContentEx1Ex{
  font-size: 13px;
  color: #BAB9B9;
}
.alramSubTitle{
  display: inline-block;
  margin: 55px 0px 0px 60px;
  font-size: 40px;
  font-weight: 600;
  color: #0060F1;
}
.alramListBox{
  display: flex;
  flex-direction: column;
  width: 550px;
  height: auto;
  padding: 15px;
  border: solid 1px #969696;
  border-radius: 10px;
}
.alramImg{
  border-radius: 60px;
  margin: 3px 0px 0px 20px;
}
.alramContentTitle{
  width: 90px;
  font-size: 23px;
  margin-top: 6px;
  font-weight: 600;
}
.alramContentC{
  width: 300px;
  font-size: 17px;
  margin-left: 20px;
  color: #707070;
}
.alramList{
  display: flex;
  margin: 10px 0px 0px 20px;
}
.alramListBoxBody{
  display: flex;
  margin: 20px 0px 0px 50px;
}
.alramListFlex{
  display: flex;
}
.alramListFlex1{
  display: flex;
  margin-top: 12px;
}
.alrambox{
  height: 1.5px;
  width: 520px;
  background-color: #D9D9D9;
  margin: 15px 0px 0px 10px;
}
.buyListflex{
  display: flex;
}
.buyListFlexBox{
  width: 675px;
  height: 1px;
  margin-bottom: 15px;
}
.mainBox{
  display: flex;
  margin-left: -3%;
}
@media only screen and (max-width: 970px) {
  .mainBox{
    display: flex;
  }
}
@media only screen and (max-width: 425px) {
  .mainBox{
    display: grid;
    width: 425px;
    grid-template-columns: repeat(3,0fr);
    margin-left: 0px;
    margin-bottom: 0px;
    height: 160px;
  }
}
.createBox{
  display: flex;
  align-items: flex-end;
  margin: 20px 0px 0px 180px;
}
.createTitle{
  font-size: 46px;
  font-weight: 500;
  color: #2649FF;
}
.createContent{
  font-size: 24px;
  font-weight: 500;
  color: #2649FF;
  margin-left: 50px;
}
.create1{
  display: flex;
  align-items: center;
  height: auto;
  margin-left: 180px;
}
.create1W{
  font-size: 20px;
  font-weight: 400;
  font-size: 20px;
  margin: 17px 30px 0px 0px ;
}
.createInputWB{
  font-size: 20px;
  font-weight: 400;
  font-size: 20px;
  margin: 17px 20px 0px 10px ;
}
.createInputTitle{
  height: 35px;
  width: 200px;
  font-size: 20px;
}
.createInputBank{
  height: 40px;
  width: 160px;
  font-size: 20px;
  margin-top: 20px;
}
.createInputTag{
  height: 35px;
  width: 80px;
  margin-right: 15px;
  font-size: 20px;
}
.create2{
  display: flex;
  align-items: center;
  height: auto;
  margin-left: 180px;
}
.create2 > div{
  font-size: 20px;
  font-weight: 400;
  margin: 17px 20px 0px 0px ;
}
.createInputPoint1{
  height: 40px;
  width: 833px;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 20px;
}
.createInputPoint2{
  height: 35px;
  width: 833px;
  margin-left: 3px;
  font-size: 20px;
}
.createInputPoint3{
  height: 35px;
  width: 833px;
  font-size: 20px;
}
.createInputPoint4{
  height: 35px;
  width: 833px;
  font-size: 20px;
}
.create3{
  display: flex;
  align-items: center;
  height: auto;
  margin-left: 180px;
}
.createInputHigh{
  height: 35px;
  width: 300px;
  font-size: 20px;
  margin-left: 5px;
}
.createInputMonth{
  height: 35px;
  width: 300px;
  font-size: 20px;
  margin-left: 5px;
}
.createMonth{
  font-size: 20px;
  font-weight: 400;
  margin: 17px 20px 0px 130px ;
}
.createHigh{
  font-size: 20px;
  font-weight: 400;
  margin: 17px 20px 0px 0px ;
}
.memberCare{
  font-size: 27px;
  font-weight: 500;
  color: #2649FF;
  margin: 25px 0px 0px 180px;
}
.createInputCare{
  height: 300px;
  width: 840px;
  font-size: 20px;
  margin-left: 270px;
}
.createButton{
  height: 50px;
  width: 150px;
  border-radius: 10px;
  border: solid rgba(0, 0, 0, 0);
  background-color: #2649FF;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  margin-left: 930px;
}
.createBody{
  margin-top: 20px;
}
.createButtonMain{
  height: 50px;
  width: 150px;
  border-radius: 10px;
  border: solid rgba(0, 0, 0, 0);
  background-color: #2649FF;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 500;
  margin-left: 790px;
}
.createButtonMain1{
  height: 50px;
  width: 150px;
  border-radius: 10px;
  border: solid rgba(0, 0, 0, 0);
  background-color: #2649FF;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 500;
  margin-left: 20px;
}
.text-decoration{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000;
}
.text-decorationw{
  text-decoration: none;
  display: flex;
  color: #FFFFFF;
  font-weight: 400;
}
.createy{
  display: flex;
  margin-top: 40px;
}
#serchIcon{
  height: 18px;
  width: 40px;
  margin: 4px 0px 0px 155px;
  color: #585858;
}
.productExNum1{
  margin-left: 10px;
  font-size: 17px;
  color: #BAB9B9; 
}
@media only screen and (max-width: 970px) {
  .productExNum1{
    margin-left: 0px;
    font-size: 12px;
    color: #BAB9B9; 
  }
}
@media only screen and (max-width: 425px) {
  .productExNum1{
    margin-left: 10px;
    font-size: 10.5px;
    color: #BAB9B9; 
  }
}
.text-decoration2{
  color: #000;
  text-decoration: none;
}
.buylistAlarm{
  font-size: 30px;
  font-weight: 500;
  color:#585858;
}
.buyListDeleteForm{
  text-align: center;
  display: grid;
}
.buyListDelete{
  font-size: 20px;
  margin: 27px 0px 0px 10px;
  color:#585858;
}
.alramDiv{
  position: absolute;
  display: flex;
  z-index:1;
  margin-top: 3%;
  margin-left: 27%;
}
@media only screen and (max-width: 425px) {
  .alramDiv{
    position: absolute;
    display: flex;
    z-index:1;
    margin-top: 40px;
    margin-left: 50px;
  }
}
.alramBody{
  display: block;
  height: 120px;
  width: 300px;
  background-color: #FFFFFF;
  border: solid 1px #BAB9B9;
  border-radius: 13px;
}
.alramHeader{
  display: flex;
  height: 40px;
  width: 300px;
  background-color: #2649FF;
  border-radius: 12px 12px 0px 0px ;
}
.alramTitle{
  font-size: 25px;
  font-weight: 600;
  margin-top: 6px;
  margin-left: 13px;
  color: #FFE500;
}
.alramContent{
  height: 78px;
  width: 290px;
  display: flex;
  padding: 5px;
  font-size: 25px;
  font-weight: 550;
  text-align: start;
  color: #000000;
}
.alramContent > p{
  margin: 0px;
  padding: 5px;
}
.contentbox{
  width: 490px;
}
@media only screen and (max-width: 970px) {
  .depositDiv{
    width: 750px;
    height: 879px;
  }
}
@media only screen and (max-width: 425px) {
  .depositDiv{
    width: 425px;
    height: 879px;
  }
}
@media only screen and (max-width: 425px) {
  .contentbox{
    width: 490px;
    font-size: 10px;
  }
}
.depositdetailboxapi{
  display: flex;
  margin: 3% 0% 0% 19%
}
@media only screen and (max-width: 970px) {
  .depositdetailboxapi{
    display: flex;
    margin: 3% 0% 0% 8%
  }
}
@media only screen and (max-width: 425px) {
  .depositdetailboxapi{
    display: flex;
    margin: 3% 0% 0% 2%
  }
}
.depositdetailcontent2{
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 26px
}
@media only screen and (max-width: 425px) {
.depositdetailcontent2{
  display: flex;
  height: 80px;
  flex-direction: column;
  margin: 0px 0px 0px 35px
}
}